/* Global Layout Set-up */
* { 
  box-sizing: border-box;
/*
  border: 1px solid red;
*/
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
/*  text-align: center;*/
}

a {
  text-decoration:none;
  color: #999; /*  check for normal link state*/;
/*  background:red;*/
}

a:hover {
  color: #6633ff; /*  check for hovered link state*/
}

ul {
  list-style-type:none;
  margin:0;
}

li {
  list-style-type:none;
  margin:0 auto;
}

h2 {
  font-size:1.2em;
  margin-top:2px;
}

.lg-sub-html p {
  font-size:.9em;
}

.container img {
  max-width: 100%;
  margin: 1.3em;
  padding: .5em;
}



/* ================================= 
          Layout containers
==================================== */
.container {
  width:95%;
  margin: 0 auto;
  text-align:center;
}

/* ================================= 
          Seacrh box
==================================== */



input::-webkit-input-placeholder{
  text-align:left;
  font-size:0.75em;
  font-weight:300;
  padding-right:5px;
  opacity:.8;
}

input::-moz-placeholder {
  text-align:left;
  font-size:0.75em;
  font-weight:300;
  padding-right:5px;
  opacity:.8;
}

input {
  border: 1px solid lightgrey;
  font-size: 1em;
  height: 40px;
  width: 100%;
  border-radius:5px;
  text-align:center;
  margin: 20px auto;
  padding:15px;
  width:70%;
}

/* ================================= 
                Lightbox
==================================== */


/* ================================= 
                Clearfix
==================================== */

  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
   }

  .cf:after {
    clear: both;
  }


/* ================================= 
                Footer
==================================== */



/* ================================= 
                Colors
==================================== */



/* ================================= 
                Media Queries
==================================== */

/* --- Tablet view --- */

@media(min-width: 768px) {


/* ===================
     Search box
====================== */
  
form {
  width: 45%;
  margin:0 auto;
}

/* ===================
     General info
====================== */  

/*
.container a {
  margin: 1.5em;
}
*/

/* ===================
        Footer
====================== */  

}
/* --- Desktop view --- */  

@media(min-width: 1024px) {

.container {
  width:90%;
}
  

/* ===================
     Top Navigation
====================== */


/* ===================
     General info
====================== */


/* ===================
        Footer
====================== */

  
}
